
DATABASE_URL=postgresql://neondb_owner:npg_xlSO5kyZ0des@ep-shiny-butterfly-attvmn5a-pooler.c-9.us-east-1.aws.neon.tech/neondb?channel_binding=require&sslmode=require

DB_HOST=localhost
DB_PORT=5432
DB_NAME=ulima_eventos
DB_USERNAME=postgres
DB_PASSWORD=tu_password_local

JWT_SECRET=ulima-eventos-secreto-muy-largo-2026
PORT=3005
